:root{
  --bg-img: url('img/BgImg.jpg');
  --F-title: none;
  --F-primary: none;
  --F-secondary: none;
  /* color */
  --MC-primary: rgb(255, 255, 255);
  --MC-secondary: rgb(52, 52, 52);
  --FC-primary: rgb(25, 25, 25);
  --FC-secondary: rgb(255, 0, 0);
  /* opacity */
  --O-Xhigh: 0.9;
  --O-high: 0.75;
  --O-medium: 0.5;
  --O-low: 0.25;
  --O-Xlow: 0.1;
}
html, body {
  margin: 0;
}
body {
  padding: 5em 1em;
}
body>h1,.elem>h3{
  text-align: center;
}
body>*,a{
  color: var(--FC-primary);
}
.elem>h3{
  text-decoration: underline;
}
.background {
  background-attachment: fixed ;
  background-position: 50% 40%;
  position: fixed;
  z-index: -1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--bg-img);
}
.background>div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--MC-primary);
  opacity: var(--O-Xlow);
}



/* Header */
  .header1 label, .header2 label, .header3 label{
    font-size: 1.5em;
  }
  
  /* header1 */
    .header1 {
      box-shadow: 0 0 4px black;
      z-index: 3;
    }
    .header1 a {
      transition: all 0.5s;
    }
    .header1 a:hover {
      color: var(--FC-secondary);
    }
    .header1 a.active {
      color: var(--FC-secondary);
    }
    .header1 .navlinks{
      --polyHeadHeight-row: 30px;
      grid-auto-columns: minmax(50px, 100px);
    }
    .header1 .navlinks a {
      text-decoration: none;
      display: grid;
      align-items: center;
      justify-content: center;
    }
    .header1 .navlinks a:hover {
      font-size: 115%;
    }
    .header1 .navicons a {
      font-size: 1.25em;
    }
    .header1 .navicons>:last-child {
      color: var(--FC-secondary);
    }
    .header1 .navicons a.active {
      color: var(--MC-secondary);
    }
  /* header2 */
    .header2{
      --polyHeadPadding-nav: 0px;
      background-color: rgba(0,0,0,.25);
      z-index: 2;
    }
    .header2 .M-menu:hover, .header2 .M-menu:hover>:last-child {
      background-color: rgba(0,0,0,.5);
    }
    
    .header2 .navicons a:hover {
      text-shadow: 0 0 15px var(--FC-secondary);
    }
/* Grid */

.grid1{
  --autoGridWidth: 80px;
  --autoGridHeight: 100%
}
.grid1>*{
  background-color: grey;
}

.grid2{
  --autoGridWidth: calc(50% - var(--autoGridGap));
  --autoGridHeight: 10%;
  --autoGridGap: .5em
}
.grid2>*{
  background-color: lightcoral;
}


.elem .menu{
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-auto-columns: minmax(50px, 250px);
  grid-auto-flow: column;
  height: 100%;
}
.elem .menu * {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.elem .menu>div {
  position: relative;
}
.elem .submenu{
  position: absolute;
  top: 100%;
  height: 0;
  overflow: hidden;
  transition: all .2s ease;
}
.elem .submenu a,.elem :hover>.fakelink{
  background-color: rgba(0,0,0,.5);
}

.elem .fakelink{
  cursor: pointer;
}
.elem .fakelink, .elem .submenu a {
  display: flex;
  justify-content: center;
  align-items: center;
}
:hover>.submenu{
  height: 100%;
  overflow: visible;
}

.elem .navicons a:hover {
  text-shadow: 0 0 15px var(--FC-secondary);
}