@keyframes M-opacity {
  100% { opacity: .25; }
}
@keyframes M-background {
  100% { background-position: calc(var(--M-width) * -1); }
}
/* Variable to configure elements's parameter */
:root {
  
  /* Format parameter */

    --M-titleFont: serif;
    --M-fontA: sans-serif;
    --M-fontB: cursive;

  /* Layout parameter */

    --M-height: length;
    --M-width: length;
    --M-gap: length;
    --M-column: length;
    --M-row: length;
    --M-align: string;
    --M-justify: string;
    --M-margin: length;
    --M-paddingLeft: length;
    --M-paddingRight: length;
    --M-paddingTop: length;
    --M-paddingBottom: length;
    --M-flow: string;
    --M-repeat: int or string;
    --M-type: string;
    --M-Xpos: int;
    --M-Ypos: int;
    --M-Xsize: int;
    --M-Ysize: int;
    --M-shader: decimal;
    --M-radius: length;
    --M-border: string and length;
    --M-borderWidth: length;
    --M-borderStyle: string;
    --M-borderColor: string;
    
  /* Style parameter */

    /* Red bits variables */
    --M-primaryR: 255;
    --M-secondaryR: var(--M-primaryR);
    --M-red: 255;
    /* Green bits variables */
    --M-primaryG: 255;
    --M-secondaryG: var(--M-primaryG);
    --M-green: 255;
    /* Blue bits variables */
    --M-primaryB: 255;
    --M-secondaryB: var(--M-primaryB);
    --M-blue: 255;
    /* Opacity variables */
    --M-primaryA: 1;
    --M-secondaryA: var(--M-primaryA);
    --M-opacity: 1;
    
}


          /**************************************/
          /*              Globals               */
          /**************************************/


/* dependent variables */
[class*="M-"] {
  --M-red: var(--M-primaryR);
  --M-green: var(--M-primaryG);
  --M-blue: var(--M-primaryB);
}
[class*="M-"], [class*="M-"] > *  {
  all: unset;
  /* constrast variable. if background-color is dark, --M-color equal 255 else --M-color equal 0 */
  --M-bits: calc(((((var(--M-red) * 299) + (var(--M-green) * 587) + (var(--M-blue) * 114)) / 1000) - 128) * -1000);
  --M-color: rgb(var(--M-bits),var(--M-bits),var(--M-bits));

  /* dependence of the variables "--M-barder" on the other variable "--M-border"  */
  --M-border: var(--M-borderWidth) var(--M-borderStyle) var(--M-borderColor);
  box-sizing: border-box;
}
[class*="M-"], [class*="M-"]:not([class*="M-search"]) > *  {
  /* dependence of the variables "padding" on the variable "--M-paddingLeft"*/
  --M-paddingRight: var(--M-paddingLeft);
  --M-paddingTop: var(--M-paddingLeft);
  --M-paddingBottom: var(--M-paddingTop);
  --M-padding: var(--M-paddingTop) var(--M-paddingRight) var(--M-paddingBottom) var(--M-paddingLeft);
}
[class*="M-"] > input {
  border-style: double;
  border-width: 1px;
  border-radius: 2.5px;
  padding: 0 2.5px;
}


          /**************************************/
          /*              Simple                */
          /**************************************/


/* -Button(finished)- */

  /* general */
[class*="M-btn"]{
  --M-red: 255;
  --M-green: 255;
  --M-blue: 255;
  --M-opacity: 1;
  --M-radius: 2px;
  --M-paddingLeft: 6px;
  --M-paddingTop: 2px;
  --M-width: auto;
  --M-height: auto;

  display: inline-grid;
  padding: var(--M-padding);
  background: linear-gradient(
    rgb(var(--M-red), var(--M-green), var(--M-blue)),
    rgb(calc(var(--M-red)*0.9), calc(var(--M-green)*0.9), calc(var(--M-blue)*0.9))
  );
  width: var(--M-width);
  height: var(--M-height);
  border: solid 1px rgb(calc(var(--M-red)*0.9), calc(var(--M-green)*0.9), calc(var(--M-blue)*0.9));
  border-radius: var(--M-radius);
  outline: none;
  text-align: center;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: var(--M-color);
  font: 400 13.3333px Arial;
}
[class*="M-btn"]:hover {
  border-color: rgb(calc(var(--M-red)/2), calc(var(--M-green)/2), calc(var(--M-blue)/2));
}
[class*="M-btn"]:active {
  background: linear-gradient(
    rgb(calc(var(--M-red)*0.9), calc(var(--M-green)*0.9), calc(var(--M-blue)*0.9)),
    rgb(var(--M-red), var(--M-green), var(--M-blue))
  );
  border-color: rgb(calc(var(--M-red)*0.7), calc(var(--M-green)*0.7), calc(var(--M-blue)*0.7));

}

/* -Card(inprocess)- */

  /* Type-1 */
  [class*="M-card"] {
    --M-width: 150px;
    --M-height: calc(var(--M-width) * 1.5);
    --M-primaryR: 200;
    --M-primaryG: 200;
    --M-primaryB: 200;
    --M-secondaryR: 20;
    --M-secondaryG: 20;
    --M-secondaryB: 20;
    --M-column: 40%;
    display: inline-grid;
    position: relative;
    margin: var(--M-margin);
    width: var(--M-width);
    height: var(--M-height);
  }
  [class*="M-card"]:empty::before {
    --M-red: var(--M-secondaryR);
    --M-green: var(--M-secondaryG);
    --M-blue: var(--M-secondaryB);
  }
  [class*="M-card"]:empty::before,
  [class*="M-card"]:empty::after {
    content: "";
    background-color: rgb(var(--M-red), var(--M-green), var(--M-blue));
  }
  .M-card {
    grid-template-rows: var(--M-column) calc( 100% - var(--M-column) );
  }
  /* Type-2 */
  .M-cardT2>:first-child, .M-cardT2:empty>::before {
    position: absolute;
    width: var(--M-width);
    height: var(--M-height);
    z-index: -1;
  } 
  .M-cardT2>:nth-child(2), .M-cardT2:empty>::before {
    --M-paddingBottom: var(--M-paddingLeft);
    margin: var(--M-paddingTop) var(--M-paddingRight) var(--M-paddingBottom) var(--M-paddingLeft);
  }
/* -Form(finished)- */

  /* general */
[class*="M-form"] {
  --M-width: calc(100% - 2em);
  --M-height: fit-content;
  --M-gap: 5px 15px;
  --M-margin: 5px 15px;
  --M-paddingLeft: .5em;
  --M-justify: center;
  --M-align: center;

  display: grid;
  width: var(--M-width);
  height: var(--M-height);
  gap: var(--M-gap);
  margin: var(--M-margin);
  padding: var(--M-padding);
  justify-content: var(--M-justify);
  align-content: var(--M-align);
}
[class*="M-form"].reverse {
  grid-auto-flow: dense;
}
.M-formT2.reverse> input:nth-of-type(1) {
  grid-row: 2;
}
.M-formT2.reverse> input:nth-of-type(2) {
  grid-row: 4;
}
.M-formT2.reverse> input:nth-of-type(3) {
  grid-row: 6;
}
.M-formT2.reverse> input:nth-of-type(4) {
  grid-row: 8;
}
.M-formT2.reverse> input:nth-of-type(5) {
  grid-row: 10;
}
.M-formT2.reverse> input:nth-of-type(6) {
  grid-row: 12;
}
.M-formT2.reverse> input:nth-of-type(7) {
  grid-row: 15;
}
.M-formT2.reverse> input:nth-of-type(8) {
  grid-row: 16;
}
.M-formT2.reverse> input:nth-of-type(9) {
  grid-row: 18;
}
.M-formT2.reverse> input:nth-of-type(10) {
  grid-row: 20;
}
[class*="M-form"] > :not(input) {
  cursor: pointer;
}
[class*="M-form"].reverse > input:focus + :not(input) {
  border-bottom: 1px solid;
}
.M-form > input {
  grid-column: 2;
}
.M-form > :not(input) {
  align-self: center;
  justify-self: right;
}
  /* Type 2 */
.M-formT2 > :not(input) {
  justify-self: var(--M-justify);
  text-align: var(--M-justify);
}

/* -List(inprocess)- */

  /* general */
[class*="M-list"]{
  --M-width: 100%;
  --M-height: fit-content;
  --M-paddingLeft: 1px;
  --M-gap: 5px;
  --M-type: "-";
  --M-row: auto;
  --M-shader: 0.75;

  display: grid;
  width: var(--M-width);
  height: var(--M-height);
  padding: var(--M-padding);
  padding-left: calc(40px + var(--M-paddingLeft));
  gap: var(--M-gap); 
  grid-auto-rows: var(--M-row);
  list-style-type: var(--M-type);
}
ol.M-list {
  --M-type: upper-roman;
}
.M-list > *{
  display: list-item;
}
  /* Type 2 */
.M-listT2 {
  --M-type: url("../img/Logo.png");
  padding: var(--M-padding);
}
.M-listT2> * {
  position: relative;
  display: inline-grid;
  grid-template-columns:  40px 1fr;
}
.M-listT2> *::before {
  display: grid;
  content: "";
  background: var(--M-type);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  justify-self: right;
  align-self: baseline;
  height: calc(16px * var(--M-shader));
  width: calc(16px * var(--M-shader));
  margin-top: 2.5px;
  margin-right: 5px;
}

/* -ProgressBar(finished)- */

  /* general */
[class*="M-bar"] {
  --M-secondaryR: 0;
  --M-secondaryG: 0;
  --M-secondaryB: 255;
  --M-primaryR: 255;
  --M-primaryG: 255;
  --M-primaryB: 255;
  --M-width: 10em;
  --M-height: 1em;
  --M-shader: 50;
  --M-radius: 2.5px;
  --M-type: "loading...";

  counter-reset: progress var(--M-shader);
  overflow: hidden;
  display: grid;
  width: var(--M-width);
  position: relative;
  height: var(--M-height);
  border: 1px double var(--M-color);
  border-radius: var(--M-radius);
  box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.5) inset, -1px -2px 10px 0 rgba(255, 255, 255, 0.5) inset;
  background-color: rgb(var(--M-red), var(--M-green), var(--M-blue));
}
progress[class*="M-bar"]::-webkit-progress-bar {
  background-color: rgb(var(--M-red), var(--M-green), var(--M-blue));
  border-radius: var(--M-radius);
  height: var(--M-height);
  box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.5) inset, -1px -2px 10px 0 rgba(255, 255, 255, 0.5) inset;
}
progress[class*="M-bar"]:indeterminate, progress[class*="M-bar"]:indeterminate::-webkit-progress-bar, progress[class*="M-bar"]::-webkit-progress-value {
  background-color: rgb(var(--M-secondaryR), var(--M-secondaryG), var(--M-secondaryB));
  border-radius: var(--M-radius);
  box-shadow: 0 2px 10px -3px rgba(255, 255, 255, 0.5) inset, 1px -2px 10px 3px rgba(0, 0, 0, 0.5) inset;
  transition: ease .5s all;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
}
progress[class*="M-bar"]:indeterminate, [class*="M-bar"][indeterminate]:not(progress)>:nth-child(1) {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2)),
  linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, rgba(0, 0, 0, .5) 25%, rgba(0, 0, 0, .5) 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%, rgba(0, 0, 0, .5) 75%);
  background-size: calc(var(--M-width) / 10);
  animation: M-background 5s linear infinite;
}
progress[class*="M-bar"]:indeterminate::-webkit-progress-bar{
  background: transparent;
  box-shadow: none;
}
progress:indeterminate[class*="M-bar"]::-moz-progress-bar {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2)),
  linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, rgba(0, 0, 0, .5) 25%, rgba(0, 0, 0, .5) 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%, rgba(0, 0, 0, .5) 75%);
  background-size: calc(var(--M-width) / 10);
  animation: M-background 5s linear infinite;
}
progress[class*="M-bar"]::-moz-progress-bar {
  --M-red: var(--M-secondaryR);
  --M-green: var(--M-secondaryG);
  --M-blue: var(--M-secondaryB);
  background-color: rgb(var(--M-red), var(--M-green), var(--M-blue));
  border-radius: var(--M-radius);
  box-shadow: 0 2px 10px -3px rgba(255, 255, 255, 0.5) inset, 1px -2px 10px 3px rgba(0, 0, 0, 0.5) inset;
  transition: ease .5s all;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
}
[class*="M-bar"]:not(progress)>:nth-child(1) {
  --M-red: var(--M-secondaryR);
  --M-green: var(--M-secondaryG);
  --M-blue: var(--M-secondaryB);
  position: relative;
  background-color: rgb(var(--M-red), var(--M-green), var(--M-blue));
  overflow: hidden;
  width: calc( 1% * var(--M-shader));
  height: 100%;
  border-radius: var(--M-radius);
  box-shadow: 0 2px 10px -3px rgba(255, 255, 255, 0.5) inset, 1px -2px 10px 3px rgba(0, 0, 0, 0.5) inset;
  transition: ease .5s all;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
}
[class*="M-bar"][indeterminate]:not(progress) {
  --M-shader: 100;
}
  /* Type 2 */
.M-barT2:not(progress)::before {
  position: absolute;
  display: inline-grid;
  align-content: center;
  justify-content: center;
  content: counter(progress)"%";
  color: var(--M-color);
  width: var(--M-width);
  height: 100%;
}
.M-barT2:not(progress)>:nth-child(1)::before {
  display: inline-grid;
  align-content: center;
  justify-content: center;
  position: absolute;
  content: counter(progress)"%";
  color: var(--M-color);
  width: var(--M-width);
  height: 100%;
}
.M-barT2[indeterminate]:not(progress)::before, .M-barT2[indeterminate]:not(progress)>:nth-child(1)::before {
  animation: ease-in-out M-opacity 1s alternate infinite;
  content: var(--M-type);
}

/* -Pagination(finished)- */

  /* general */
    [class*="M-page"] {
      --M-primaryR: 0;
      --M-primaryG: 0;
      --M-primaryB: 0;
      --M-secondaryR: 0;
      --M-secondaryG: 0;
      --M-secondaryB: 255;
      --M-type: decimal;
      --M-fontSize: 1.25em;
      --M-column: 2.5em;
      --M-row: var(--M-column);

      counter-reset: pageN;
      display: grid;
      grid-template-columns: repeat(auto-fit, var(--M-column));
      grid-auto-rows: var(--M-row);
      justify-content: center;
      font-size: var(--M-fontSize);
    }
    .M-pageT2{
      --M-primaryR: 255;
      --M-primaryG: 255;
      --M-primaryB: 255;
    }
    [class*="M-page"]>[type="radio"] {
      display: none;
    }
    [class*="M-page"] > :not(input) {
      display: inline-grid;
      align-content: center;
      justify-content: center;
      color: var(--M-color);
      cursor: pointer;
    }
    .M-page > :not(input) {
      width: fit-content;
      height: fit-content;
      align-self: center;
      justify-self: center;
    }
    [class*="M-page"] > :not(input)::before {
      counter-increment: pageN;
      content: counter(pageN, var(--M-type));
      color: rgb(var(--M-red), var(--M-green), var(--M-blue), var(--M-opacity));
    }
    [class*="M-page"] > :not(input):hover::before {
      text-decoration: underline;
    }
    [class*="M-page"] > :checked + :not(input), [class*="M-page"] > :not(input).active, [class*="M-page"] > :not(input):hover {
      --M-red: var(--M-secondaryR);
      --M-green: var(--M-secondaryG);
      --M-blue: var(--M-secondaryB);
      color: rgb(var(--M-red), var(--M-green), var(--M-blue), var(--M-opacity));
    }
    [class*="M-page"] > :not(:checked) + :not(input):hover:not(.active){
      filter: opacity(0.5);
    }
  /* Type 2 */
    .M-pageT2 > :not(input) {
      align-content: center;
      justify-content: center;
      background-color: rgb(var(--M-red), var(--M-green), var(--M-blue), var(--M-opacity));
    }
    .M-pageT2 > :not(input)::before {
      color: var(--M-color);
    }
    .M-pageT2 > :checked + label, .M-pageT2 > :not(input).active, .M-pageT2 > :not(input):hover {
      background-color: rgb(var(--M-red), var(--M-green), var(--M-blue), var(--M-opacity));
      color: var(--M-color);
    }

/* -Searchbar(inprocess)- */
  /* general */
    [class*="M-search"]{
      --M-width: 250px;
      --M-height: 1.5em;
      --M-margin: 2.5px;
      --M-paddingLeft: 10px;
      --M-paddingTop: calc( (var(--M-height) - ( var(--M-fontSize) * 1.5 )) / 2 );
      --M-radius: 2.5px;
      --M-borderWidth: 1px;
      --M-borderStyle: solid;
      --M-borderColor: rgb(150, 150, 150);
      --M-fontSize: 14px;
      --M-shader: 1;
    
    }
    [contenteditable="true"][class*="M-search"], input:not([type="checkbox"]):not([type="radio"])[class*="M-search"], textarea[class*="M-search"],
    [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea) {
      position: relative;
      overflow: hidden;
      width: var(--M-width);
      border-radius: var(--M-radius);
      margin: var(--M-margin);
      border: var(--M-border);
      box-sizing: border-box;
    }
    [contenteditable="true"][class*="M-search"], input:not([type="checkbox"]):not([type="radio"])[class*="M-search"], textarea[class*="M-search"],
    [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea)> [contenteditable="true"],
    [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea)> input:not([type="checkbox"]):not([type="radio"]),
    [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea)> textarea {
      
      padding: var(--M-padding);
      line-height: calc( var(--M-fontSize) * 1.5 ) !important;
      outline: 0;
      align-content: center;
      
      /* inputifinator */
      background-color: white;
      text-indent: 0px;
      display: inline-grid;
      text-align: start;
      cursor: text;
      font: var(--M-fontSize) Arial;
      -moz-user-modify: read-write;
      -webkit-user-modify: read-write;
      grid-auto-flow: column;
      grid-template-columns: 1fr;
    }
    [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea)> [contenteditable="true"],
    [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea)> input:not([type="checkbox"]):not([type="radio"]),
    [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea)> textarea {
      border: none;
      border-radius: var(--M-radius);
    }
    [class*="M-search"] > textarea:not([row]), textarea[class*="M-search"]:not([row]) {
      height: calc( var(--M-fontSize) * 1.5 );
    }
    [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea) {
      display: inline-grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr auto ;
      padding-right: calc(( var(--M-height) - ( ((var(--M-fontSize) * 1.5) * var(--M-shader)) + 3px )) / 2 );
    }
    [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea) > i {
      display: grid;
      width: calc( ((var(--M-height) - 4px) * var(--M-shader)) ) ;
      height: calc( ((var(--M-height) - 4px) * var(--M-shader)) ) ;
      font-size: calc( var(--M-fontSize) * var(--M-shader) ) ;
      align-self: center;
      align-content: center;
      justify-content: center;
      border-radius: 2.5px;
      margin: 2px;
    }
    /* Placeholder */
      [contenteditable="true"][class*="M-search"]:empty::before,
      textarea[class*="M-search"]::placeholder,
      input[class*="M-search"]::placeholder,
      [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea)> [contenteditable="true"]:empty::before,
      [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea)> textarea::placeholder,
      [class*="M-search"]:not([contenteditable="true"]):not(input):not(textarea)> input::placeholder {
        content: attr(placeholder);
        color: var(--M-color);
        opacity: 0.7;
      }
  /* Type 2 */
    [contenteditable="true"].M-searchT2, input:not([type="checkbox"]):not([type="radio"]).M-searchT2, textarea.M-searchT2,
    .M-searchT2:not([contenteditable="true"]):not(input):not(textarea) {
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  
/* -Switch(inprocess)- */
[class*="M-switch"] {
  --M-primaryR: 204;
  --M-primaryG: 68;
  --M-primaryB: 68;
  --M-secondaryR: 68;
  --M-secondaryG: 204;
  --M-secondaryB: 102;
  --M-opacity: 0.7;
  --M-width: 4em;
  --M-height: 1.5em;
  --M-radius: 25px;
  --M-shader: .75;
  --M-margin: 5px;
  --M-borderWidth: 5px;
  --M-borderStyle: solid;
  --M-borderColor: grey;
}
[class*="M-switch"] > *, [class*="M-switch"]:empty {
  position: relative;
  display: inline-grid;
  grid-auto-rows: 100%;
  align-items: center;
  width: var(--M-width);
  height: var(--M-height);
  cursor: pointer;
  transition: 350ms;
  padding: 0;
  margin: calc( (((var(--M-height) * var(--M-shader)) - var(--M-height)) / 2 ) + var(--M-margin) ) var(--M-margin);
  box-sizing: content-box;
  font: initial;
  outline: none;
  top: var(--M-borderWidth);
  border: 0;
}
[class*="M-switch"] > *::after, [class*="M-switch"]:empty::after {
  position: relative;
  content: '';
  width: calc(var(--M-height) * var(--M-shader));
  height: calc(var(--M-height) * var(--M-shader));
  left: calc(((var(--M-height) * var(--M-shader)) - var(--M-height))/ -2 );
  border-radius: calc(var(--M-radius) - (var(--M-borderWidth) * 1.25));
  transition: 250ms ease-in-out;
  background: linear-gradient(#f5f5f5 10%, #eeeeee);
  box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0 0.5em -0.15em rgba(0, 0, 0, 0.5);
  grid-row: 1;
  grid-column: 1;
}
[class*="M-switch"] > *::before, [class*="M-switch"]:empty::before {
  content: '';
  width: 100%;
  height: 100%;
  transition: 250ms ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset,
  0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7),
  0 0 0 0 rgba(var(--M-secondaryR), var(--M-secondaryG), var(--M-secondaryB), var(--M-opacity)) inset,
  calc(var(--M-width) * -1) 0 0 0 rgba(var(--M-primaryR), var(--M-primaryG), var(--M-primaryB), var(--M-opacity)) inset;
  grid-row: 1;
  grid-column: 1;
  border: var(--M-border);
  border-radius: var(--M-radius);
  justify-self: center;
}
[class*="M-switch"] > :checked + ::before,
:checked + [class*="M-switch"]:empty::before,
[class*="M-switch"] > .active::before,
[class*="M-switch"].active:empty::before,
[class*="M-switch"]:checked:empty::before {
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset,
  0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7),
  var(--M-width) 0 0 0 rgba(var(--M-secondaryR), var(--M-secondaryG), var(--M-secondaryB), var(--M-opacity)) inset,
  0 0 0 0 rgba(var(--M-primaryR), var(--M-primaryG), var(--M-primaryB), var(--M-opacity)) inset;
}
[class*="M-switch"] > :checked + ::after,
:checked + [class*="M-switch"]:empty::after,
[class*="M-switch"] > .active::after,
[class*="M-switch"].active:empty::after,
[class*="M-switch"]:checked:empty::after {
  left: calc( var(--M-width) - (( var(--M-height) * var(--M-shader) ) - (var(--M-height) * (( var(--M-shader) - 1)/2) )));
}
[class*="M-switch"] > input {
  display: none;
}

          /**************************************/
          /*             Complex                */
          /**************************************/



/*______Contained______*/


/* -Breadcrumb- */

  /* general */

/* -Slider- */

  /* general */

/* -Slide- */


/*______Mixte______*/


/* -Box- */

  /* general */
    [class*="M-box"] {
      display: grid;
      width: var(--M-width);
      height: var(--M-height);
      padding: var(--M-padding);
      grid-auto-flow: dense;
      gap: var(--M-gap);
      margin: var(--M-margin);
      background-color: rgba(var(--M-red), var(--M-green), var(--M-blue), var(--M-opacity));
      grid-auto-rows: 1fr;
    }
    .M-box{
      --M-width: calc(100% - (var(--M-margin) * 2 ));
      --M-heiht: unset;
      --M-align: baseline;
      --M-justify: left;
      --M-paddingLeft: var(--M-gap);
      --M-shader: .5;
      --M-gap: .25em;
      --M-type: auto-fit;
      --M-column: 1fr;
      --M-row: 5%;
      --M-red: 255;
      --M-green: 255;
      --M-blue: 255;
      --M-opacity: 0;
      --M-margin: 2.5px;

      grid-template-columns: repeat(var(--M-type), var(--M-column));
    }    
    .M-box:not(:empty):before {
      content: '';
      width: 0;
      padding-bottom: var(--M-row);
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
    .M-box > :first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1
    }
    [class*="M-boxT"]{
      grid-auto-rows: var(--M-row);
    }
    .M-boxT2 {
      --M-width: calc(100% - (var(--M-margin) * 2 ));
      --M-heiht: unset;
      --M-align: baseline;
      --M-justify: left;
      --M-paddingLeft: var(--M-gap);
      --M-shader: .5;
      --M-gap: .25em;
      --M-type: auto-fit;
      --M-column: 1fr;
      --M-row: 5%;
      --M-red: 255;
      --M-green: 255;
      --M-blue: 255;
      --M-opacity: 0;
      --M-margin: 2.5px;

      grid-template-columns: repeat(var(--M-type), var(--M-column));
    }
    .M-boxT3 {
      --M-width: calc(100% - (var(--M-margin) * 2 ));
      --M-heiht: unset;
      --M-align: baseline;
      --M-justify: left;
      --M-paddingLeft: var(--M-gap);
      --M-shader: .5;
      --M-gap: .25em;
      --M-type: auto-fit;
      --M-column: 1fr;
      --M-row: 5%;
      --M-red: 255;
      --M-green: 255;
      --M-blue: 255;
      --M-opacity: 0;
      --M-margin: 7.5px;
      
      grid-template-columns: calc(33% * var(--M-shader) ) 1fr calc(33% * var(--M-shader) );
    }
    .M-boxT3 > * {
      grid-column: span 2;
    }
    .M-boxT3:nth-child(odd) > :nth-child(6n-5), .M-boxT3:nth-child(odd) > :nth-child(6n) {
      grid-column: span 1;
      grid-row: span 2;
    }
    .M-boxT3:nth-child(even) > :nth-child(6n-3), .M-boxT3:nth-child(even) > :nth-child(6n-2) {
      grid-column: span 1;
      grid-row: span 2;
    }

/* -Menu- */

  /* general */
  .M-menu {
    display: inline-grid;
    grid-template-rows: 100%;
    width: 100%;
    height: 4em;
  }
  .M-menu>:first-child {
    display: inline-grid;
    align-content: center;
    justify-content: center;
  }
  .M-menu>:last-child {
    display: inline-grid;
    grid-auto-rows: 4em;
    transform: scale(1,0);
    transform-origin: top;
  }
  .M-menu:hover>:last-child {
    transform: scale(1);
  }

/* -Nav- */
  .M-nav {
    display: grid;
    grid-auto-flow: column dense;
  }

/*______Container______*/


/* -Modal- */

  /* Type-1 */
.M-modal.active, :checked+.M-modal {
  display: grid;
  grid-template-columns: var(--M-column);
  grid-auto-rows: var(--M-row);
}
.M-modal {
  --M-margin: 2.5em;
  --M-opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: var(--M-margin);
  background-color: rgb(var(--M-red), var(--M-green), var(--M-blue));
}
  /* Type-2 */
.M-modalT2 {
  margin: 0;
  padding: var(--M-margin);
  background-color: rgba(calc(var(--M-red)*0.1), calc(var(--M-green)*0.1), calc(var(--M-blue)*0.1), var(--M-opacity));
}
.M-modalT2>*, .M-modalT2:empty::before {
  background-color: rgb(var(--M-red), var(--M-green), var(--M-blue));
}
.M-modalT2:empty::before {
  content: "";
}